html{
    scroll-behavior: smooth;
}
:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    --text-primary: #030202;
    --text-secondary: #000000;
    --bg-primary: rgb(233, 204, 178);
    --bg-secondary: rgb(255, 255, 255);
    --bg-third: rgb(209, 198, 188);
    --lines: rgb(33,33,38);
    --transition-speed: 300ms;
    --highlight-color: #e89862;
    --complementary-color: #62B2E8;
}

body{
    color: rgb(8, 4, 4);
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
    width: 100%;
}

main{
    margin-left: 5rem;
}

footer{
    padding: 1rem 2rem 1rem 2rem;
    text-align: center; 
    font-size: 10px;
    background-color: rgb(236, 205, 153);
}

/*------------------------------------*/

.gridInicio{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.sobreNosotros{
    text-align: center;
    grid-area: 1 / 1 / span 1 / span 3;
    background-color: var(--bg-primary);
    color: var(--color-text);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.mision,
.vision,
.metas{
    background-color: var(--bg-third);
    color: var(--color-text);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/*------------------------------------*/

.gridContacto{
    display: grid;
    grid-template-columns: 50% 50%;   
}


.formulario{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

#formConsulta{
    grid-area: 5 / 1 / span 1 / span 2;
}

.form-label{
    display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.form-input-icono {
	position: relative;
}

.form-control,
.form-select,
.form-input {
	width: 90%;
	background: rgb(255, 255, 255);
	border: 3px solid transparent;
	border-radius: 3px;
	line-height: 45px;
	transition: .3s ease all;
}

.form-input:focus,
.form-select:focus,
.form-control:focus{
	border: 2px solid #ff8000;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form-input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.form-input-error-activo {
	display: block;
}

.form-validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

#formTerminos, 
.formMensaje,
.form-btn-enviar {
	grid-column: span 2;
}

.formMensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;	width: 90%;
}

.formMensaje-activo {
	display: block;
}

.formMensaje p {
	margin: 0;
}

.form-btn-enviar{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.form-btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.form-btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.form-mensaje-exito {
	font-size: 14px;
	color: #0b4b03;
	display: none;
}

.form-mensaje-exito-activo {
	display: block;
}

.gridFormulario{
    background-color: var(--bg-third);
    color: var(--color-text);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/* ----- -----  Estilos para Validacion ----- ----- */
.form-grupo-correcto .form-validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.form-grupo-incorrecto .form-label {
	color: #bb2929;
}

.form-grupo-incorrecto .form-validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.form-grupo-incorrecto .form-input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	#formTerminos, 
	.form-mensaje,
	.form-btn-enviar {
		grid-column: 1;
	}

	.form-btn {
		width: 100%;
	}

}
