.navbar {
    width: 100%;
    background-color: rgb(236, 205, 153);
    overflow: auto;
    align-items: center;
}
  
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(69, 64, 59);
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
  
.navbar a:hover {
    background-color: #e39125;
}
  
.active {
    background-color: #e39125;
}
  
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}
