
.contenedor-productos{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  
}
.productos{
    height: 510px;
    width: 350px;
    box-shadow:0 0 7px #111 ;
    margin: 30px 30px;
    background-color: white;
}
.productos .card{
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
}
.productos img{
    margin: auto;
    display: block;
}
.productos .card img{
    height: 330px;
    width: 300px;
}

.informacion{
    height: 80px;
    width: 100%;
}

.informacion h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}

.informacion p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    color: #555;
}

.precio {
    height:50px;
    width: 85%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-precio{
    width: 80px;
}

.precio .precio2{
    font-size: 1.5em;
}

